name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Set up Java 17 (Spark)
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Create virtualenv
        run: make venv

      - name: Install dependencies
        run: make install

      - name: Run pipeline
        run: |
          make clean
          make all

      - name: Run tests
        run: make test

